.restaurant-detail .info-box .restaurant-detail-gallery {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height:100%;
  width: 100%;

  .gallery {
    // align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    width: 100%;

    .gallery-pic {
      list-style: none;
      margin-right: 10px;
      width: 25%;

      img {
        height: 269px;
        width: 477px;
      }

    }
  }
}
