.restaurant-detail {
  align-items: flex-start;
  display: flex;
  height: 100%;
  padding-top: 33px;
  // position: relative;
  width: 84%;

  .text-area.no-text {
    display:none;
  }
  
  .favorites-banner {
    background-color: $black;
    position: absolute;
  }

  .info-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }
  .info-box section {
    background: $white;
    height: 100%;
    margin-bottom: 35px;
    padding: 25px;
    width: 100%;
  }

  .info-box h2 {
    margin-top: 0;
  }

  .search-form-cont {
    box-shadow: none;
    height: inherit;
    padding: 0;
  }

  .reservation-list:first-child {
    margin-left: 0;
  }

  .reservation-time {
    padding: 10px 25px;
    margin: 0 13px;
  }

  .restaurant-index-header  {
    .restaurant-item {
      cursor: auto;
    }
    img {
      display: none;
    }
    .restaurant-name {
      font-size: 36px;
      font-weight: 400;
    }
  }

  .restaurant-image {
    margin: 0 35px;
    img {
      border-radius: 10px;
      height: 146px;
      width: 146px;
    }

  }

}
