.review-list {
  display: flex;
  flex-direction: column;

  .review-header {
    border-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
  }
  li {
    list-style: none;
  }
  .button-div {
  }

  .button-div {
    display: flex;
    flex-direction: row;
  }
  .button-div :first-child {
       margin-left: 0;
  }

  a {
    cursor: pointer;
    margin-right: 10px;
  }
  div {
    margin-left: 4px;
  }
  .edit-form {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    textarea {
      margin-right: 4px;
    }
  }
  .review {
    margin-bottom: 20px;
  }
}
