@import './assets/colors';

.restaurant-index {
  background-color: white;
  border-radius: 13px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  left: 0;
  margin-top: 62px;
  padding: 0 30px 0 30px;
  position: relative;
  width: 75%;
}

.restaurant-list {
  // align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 22px;
  position: relative;
}

.restaurant-index-header {
  border-bottom: 1px solid $light-grey;
  padding: 15px 0;
}

.restaurant-item {
  border-radius: 3px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,.1);
  cursor: pointer;
  list-style: none;
  margin-right: 30px;
  padding: 10px;

  h2 {
    color: $black;
    font-size: 16px;
  }

  .category {
    color: $grey;
  }

  img {
    border-radius: 4px;
    height: 153px;
    width: 263px;
  }
}
