@import './assets/colors';
@import './assets/fonts';

#root {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

#home-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $source-sans;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
}

.modal-container {
  position: relative;
}

.modal-container,
.modal,
.modal-container,
.modal-backdrop {
  position: absolute;
  width: 100%;
}

.main-page {
  background-color: $lightest-grey;
  display: flex;
  height: 100vh;
  left: 0;
  position: relative;
  width: 100%;
}

.content-holder {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  // left: 5%;
  // position: relative;
  width: 90%;
}
