$source-sans: source-sans-pro,'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
$merriweather: 'Merriweather', serif;

$red: #DA3743;
$red-hover: #C60025;
$white: #FFF;
$lightest-grey: #F7F7F7;
$light-grey: #E3E3E3;
$grey: #666;
$dark-turquoise: #007D9B;
$turquoise: #1C8EA8;
$dark-grey: #727272;
$darker-grey: #4F4F4F;
$black: #000;
$source-sans: source-sans-pro,'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
$merriweather: 'Merriweather', serif;
